* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Kconfig text eol=lf
*.msg text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.px4 -text
